<!DOCTYPE html>
<html>
<head>
  <title>Ruby on rails tutorial Sample Application | <%= @title %></title>
</head>
<body>
 <h1>Sample App</h1>
 <p>
  This is home page of <a href="http://railstutorial.org">Ruby on  rails tutorial</a> Sample Application
 </p>
</body>
</html>